<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <title>Random Title</title>

   <!-- CSS link (loading Semantic UI from a CDN) -->
   <link rel="stylesheet" href="./styles/semantic.min.css" />
   <style>
     body { padding:50px; }
   </style>
</head>

<body class="container">

<header>
   <div class="ui inverted menu">
       <a class="item" href="/">
         Home
       </a>
       <a class="item" href="/magic">
         Magic
       </a>
   </div>
</header>
